.services__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
}

.services__card {
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    box-shadow: var(--shadow);
}

.services__card:hover {
    transform: translateY(-10px);
    transition: 0.6s;
}

.services__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
    color: var(--text-color);
}

